@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
  }

  [type="text"],
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  select,
  select[multiple] {
    @apply text-lg py-2 px-5  border border-gray-300 focus:border-primary focus:ring-primary rounded-full;
  }

  textarea {
    @apply text-lg py-2 px-5  border border-gray-300 focus:border-primary focus:ring-primary rounded-3xl;
  }

  [type="checkbox"],
  [type="radio"] {
    @apply text-primary focus:border-primary focus:ring-primary h-5 w-5;
  }
  [type="checkbox"] {
    @apply rounded;
  }
}

.btn {
  @apply px-4 py-2 border border-primary text-primary rounded-full hover:bg-primary hover:text-white transition-all hover:px-6 disabled:text-gray-300 disabled:border-gray-300 disabled:hover:px-4 disabled:hover:bg-transparent disabled:cursor-not-allowed;
}
 /* Set the width and height of the scrollbar */
 ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Set the background color of the track */
::-webkit-scrollbar-track {
  background-color: rgba(105, 31, 116, 0.3);
}

/* Set the color and opacity of the thumb */
::-webkit-scrollbar-thumb {
  background-color: rgb(105, 31, 116);
  border-radius: 8px;
}

/* Set the color and opacity of the thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
/* edit profile modal */
/* Modal Animation Styles */
@keyframes modalFadeIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes modalFadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}

/* Apply Animation Styles */
.modal-enter {
  animation: modalFadeIn 300ms ease-out;
}

.modal-leave {
  animation: modalFadeOut 300ms ease-in;
}